grant {
  permission java.lang.RuntimePermission "accessDeclaredMembers";
};

grant codeBase "${codebase.elasticsearch}" {
  permission java.lang.RuntimePermission "accessDeclaredMembers";
};